.HeaderMain {
    /*jumbotron: jumbotron-fluid;*/
    background-color: black;
    margin-bottom: 0;
    padding: 40px;
}

.chair-icon{
    height: 50px
}

.header-text{
    color: white;
}

.pad-five {
    padding: 5px;
}

.pad-ten {
    padding:10px;
}

.bot-div{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.88);
    /*background-color: rgba(0,0,0,0.63);*/
    color: lightsteelblue;
    position: relative;
    bottom: 0;
}

.bot-div-color{
    background-color: rgba(0, 0, 0, 0.88);
}

.cart-button {

    position: absolute;
    top: 16%;
    left: 75%;
    height: 50px;
}

.cart-button:hover {
    cursor: grab;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.usergreeting {
    position: absolute;
    right: 10%;
}

.main-div {
    background-color: whitesmoke;
    padding: 10px;
}

.user-info-div{
    background-color: whitesmoke;
    height: 700px;
}

.main-div-text {
    color:grey;
    padding-top:20px;
    font-size: x-large;
}

.grey {
    color: #3c3f41;
}

.background-grey {
    background-color: #3c3f41;
}

.catalog-div {
    background-color: whitesmoke;
    padding: 15px;
    color:white;
    border: black solid 10px;
}

.catalog-div-text {
    font-size: large;
    color: black;
}

.catalog-images {
    height: 100px;
    width: 100px;
}

.quick-add{
    background-color: white;
    width: 100px;
    padding: 5px;
    border: #3c3f41 solid 2px;
    border-radius: 30px;
    text-align: center;
}

.cart-div {
    height: 175px;
    padding: 20px;
    background-color: whitesmoke;
}

.cart-text{
    font-size: large;
}

.cart-item {
    padding: 20px;
}

.cart-price{
    border: black solid 2px;
    padding: 10px;
}

.bgimg {
    background-image: url(images/home_page/chair_blue_bookshelf.jpeg);
}

.feature-image{
    border: white solid 2px;
}

.feature-header-opposite {
    background-color: whitesmoke;
    margin-bottom: 0;
}

.feature-text{
    color: black;
}

.feature-div {
    background-color: whitesmoke;
    height: 300px;
    padding: 25px;
    color:white;
    border: black solid 2px;
}

.price-div-text {
    color:grey;
    padding-top:20px;
    font-size: x-large;
    text-align: center;
}

.index-div{
    padding: 20%;
    background-color: #3c3f41;
}

.index-button{
    position: fixed;
    right: 50%;
    top: 30%;
    /*color: black;*/
    /*background-color: #3c3f41;*/
    z-index: 2;
    border: whitesmoke solid 1px;
    /*border-radius: 100px;*/
    padding: 15px;
    color: whitesmoke;
    font-size: x-large;
}

div.index-button:hover{
    position: fixed;
    right: 50%;
    top: 30%;
    /*color: black;*/
    background-color: #3c3f41;
    z-index: 2;
    border: whitesmoke solid 1px;
    /*border-radius: 100px;*/
    padding: 15px;
    color: whitesmoke;
    font-size: x-large;
}

.fill-div{
    padding: 100px;
}

.feature-add{
    position: absolute;
    right: 40px;
    padding: 10px;
    border: black solid 2px;
}

.login-box{
    position: fixed;
    top: 20%;
    /*color: black;*/
    /*background-color: #3c3f41;*/
    z-index: 2;
    border: whitesmoke solid 2px;
    padding: 10px;
    /*border-radius: 100px;*/
    color: whitesmoke;
    font-size: x-large;
}
.fix-div {
    position: sticky;
    top: 0;
}

.sign-out-button{
    position: absolute;
    right: 40px;
    padding: 10px;
    border: black solid 2px;
}
