/*@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";*/

.HeaderMain {
    /*jumbotron: jumbotron-fluid;*/
    background-color: gray;
    margin-bottom: 0;
}

.chair-icon{
    height: 50px
}

.header-text{
    color: white;
}

.pad-five {
    padding: 5px;
}

.pad-ten {
    padding:10px;
}

.bot-div{
    padding: 20px;
    background-color: rgba(0,0,0,0.63);
    color: lightsteelblue;
    position: fixed;
    bottom: 0;
}

.cart-button {

    position: absolute;
    top: 16%;
    left: 75%;
    height: 50px;
}

.cart-button:hover {
    cursor: grab;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: none;
    color: whitesmoke;
}




