.simpleUnderline{
    text-decoration: none;
    border-bottom: 1.5px solid white;
    padding: 5px;
    margin: 20px;
    color: white;
}

.shopByDiv {
    position: relative;
    top: 200px;
}

.containerRight {
    width: 55%;
    padding-right: 5px;
    margin-left: auto;
    background-color: #6B6B6C;
    
}

.hPadding {
    padding-top: 15px;
}


.neutralChair {
    position: absolute;
    left: -4%;
    right: -20.53%;
    top: -1.95%;
    opacity: 60%;
    height: 800px;

    background-image: "images/neutral_chair.jpeg";
    z-index: -1;
}

.login {
    /*position: relative;*/
    width: 135px;
    height: 135px;
    padding-right: 5px;
    margin-left: auto;

    text-align: center;




    background: #C4C4C4;
    border: 1px solid #000000;
    border-radius: 300px;
    box-sizing: border-box;


}

a {
    text-decoration-line: none;
    color: white;
}


